* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    top: 0;
    font-family: Snell Roundhand, cursive;
}

.nav {
    overflow: hidden;
    background-color: #d8d8d8;
    height: 80px;
    text-align: center;
}

.nome {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: #f72032;
    text-align: center;
}

.nome1 {
    font-size: 20px;
    margin-left: 400px;
    margin-top: 10px;
    color: #f72032;
    text-align: center;
    
}

.nome2 {
    font-size: 20px;
    margin-left: 100px;
    padding-left: 200px; 
    margin-top: 10px;
    color: #e6b845; 
    text-align: center;
}

.nome2:hover {
    text-decoration: underline;
    color: #d5b360; 
}

.primeira {
    display: flex;
    justify-content: left;
    list-style: none;
    text-align: center;
}

.btn {
    text-decoration: none;


}

.btn:hover {
    text-decoration: underline;
    color: rgb(248, 52, 52);
}

.imagem {
    display: inline-block; /* para que o elemento se comporte como um contêiner de bloco e permita o alinhamento vertical */
    text-align: center; /* para alinhar horizontalmente */
    position: relative; /* para posicionar a imagem dentro do contêiner */
    margin-left: 80px;
}

.imagem img {
    width: auto; /* ajuste o tamanho da imagem conforme necessário */
    height: auto; /* mantém a proporção da imagem */
    position: absolute; /* permite o posicionamento absoluto */
    bottom: 0; /* alinha a imagem na parte inferior do contêiner */
    left: 50%; /* alinha a imagem ao centro horizontalmente */
}

.sun {
    text-align: center;
    color: #f72032;
}

.product {
    background-color: #d8d8d8; 
    width: 300px;
    height: 330px;  
    margin-left: 115px;
    border: 1px solid #f72032;
    display: inline-block;
    border-radius: 10%;
}

.product:hover{
    cursor: pointer;
    box-shadow: 0px 5px 15px #f72032;
}

.img img {
   padding-left: 40px;
   padding-top: 10px;
   height: 150px;
   width: 200px;

}

.padrao {
    text-align: center;
    font-size: 20px;
}

.desc {
    text-align: center; 
    font-size: 15px;
    margin-top: 2px;
}

.preco {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px; 
    font-size: 15px;
    text-align: center;
}

.preco2 {
    position: absolute;
    margin-left: 20px;
    margin-top: 28px; 
    font-size: 13px;
    color: green;
    text-align: center;
}

.oc {
    display: inline;

}

.add {
    margin-top: 80px;
    margin-left: 20px;
}

.add:hover {
    cursor: pointer;
    box-shadow: 0px 5px 15px #f72032;
}