body {
    background-image: url(imagens/oculos.png); 
    background-size: cover;
  }
  
  .login {
  background-color: rgba(255, 255, 255);
  display: block;
  width: 400px;
  height: 400px;
  margin-left: 450px;
  margin-top: 150px;
  text-align: center;
  margin-bottom: 5px; 
  border: 5px solid #970505;
  border-radius: 5%;
  
  }
  
  h1 {
    text-align: center;
    color: rgb(0, 0, 0); 
    padding-top: 10px;
  }
  
  h2{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }
  
  .extra{
    margin-top: 30px;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
  }
  
  .resposta {
    margin-top: 1px;
    height: 30px;
    width: 300px;
    border: 3px solid #970505;
    text-align: left; 
  }
  
  .btn {
    margin-top: 30px;
    background-color: #970505;
    color: white;
    height: 30px;
    width: 100px;
    border: none;
  
  }
  
  .btn:hover {
    background-color: #c40606;  
  }
  
  .btn2 {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    font: inherit;
    outline: none;
    padding: 0;
    text-align: inherit;
    text-decoration: none;
    margin-top: 7px;
  }
  
  .btn2:hover{
    text-decoration: underline;
  }

  .resposta:focus::placeholder {
    color: #c40606; 
  }

