body {
    margin: 0;
    top: 0;
    font-family: Snell Roundhand, cursive;
}

.nav {
    overflow: hidden;
    background-color: #d8d8d8;
    height: 80px;
    text-align: center;
}

.nome {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
    color: #f72032;
    text-align: center;
}

.nome1 {
    font-size: 20px;
    margin-left: 400px;
    margin-top: 10px;
    color: #f72032;
    text-align: center;
    
}

.nome2 {
    font-size: 20px;
    margin-left: 100px;
    padding-left: 200px; 
    margin-top: 10px;
    color: #e6b845; 
    text-align: center;
}

.nome2:hover {
    text-decoration: underline;
    color: #d5b360; 
}

.primeira {
    display: flex;
    justify-content: left;
    list-style: none;
    text-align: center;
}

.btn {
    text-decoration: none;


}

.btn:hover {
    text-decoration: underline;
    color: rgb(248, 52, 52);
}

.imagem {
    display: inline-block; /* para que o elemento se comporte como um contêiner de bloco e permita o alinhamento vertical */
    text-align: center; /* para alinhar horizontalmente */
    position: relative; /* para posicionar a imagem dentro do contêiner */
    margin-left: 80px;
}

.imagem img {
    width: 120px; /* ajuste o tamanho da imagem conforme necessário */
    height: 120px; /* mantém a proporção da imagem */
    position: absolute; /* permite o posicionamento absoluto */
    bottom: 0; /* alinha a imagem na parte inferior do contêiner */
    left: 50%; /* alinha a imagem ao centro horizontalmente */
}

.ajuda {
    text-align: center;
}

.ajudar{
    text-align: left;
    margin-top: 5px;
    margin-left: 420px;
    height: 60px;
    width: 500px;
    border: 1px solid #000000; 
    border-radius: 20px;
    font-size: 20px;
}

.ajudar:focus {
    border-color: #f72032; /* Altere a cor conforme desejado */
    box-shadow: 0 0 5px #f72032; /* Adicione uma sombra azul ao receber foco */ 
}

.lupa img {
    margin-left: 20px;
    margin-top: 5px;
    height: 50px;
    width: 50px;
}

.lupa:hover{
    transform: scale(1.1);
}

.pesquisar{
    display: inline;
    display: flex;
    align-items: center; 
}

.caixinhas {
    width: 250px;
    height: 100px;
    background-color: #d8d8d8;
    margin-left: 60px; 
    border-radius: 5%;
    position: relative;
    padding: 0;
    align-items: center;
}

.caixinhas:hover {
    background-color: #686868;  
    cursor: pointer;
}


.caixa {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    z-index: 9999; 
    padding-bottom: 10px;
    align-items: center;
}


.caixa img {
    position: absolute;
    display: flex;
    width: 100px;
    height: 100px;
    z-index: 9999; 
    padding-bottom: 30px;
    align-items: center;
}

.txt {
    position: absolute;
    display: flex;
    width: 200px;
    height: 100px;
    padding-left: 90px;
    z-index: 9999; 
}

.txt2 {
    position: absolute;
    display: flex;
    width: 150px;
    height: 100px;
    padding-left: 90px;
    padding-top: 25px;
    z-index: 9999; 
    color: #4b4a4a;
}

ul.duvidas  {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}